@model Dot_myCovid19app.Models.URL

@{
    ViewBag.Title = "viewURL";
}

<h2>viewURL</h2>
@*@Server.UrlDecode( Html.DisplayFor(model => model.CovidURL).ToString())*@
@*<iframe src="@Url.Action("http://www.google.com", "My")" title="Page"></iframe>*@

