@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    This application is regarding Covid19 details which comprises following:-
    <ol type="ordered">
        <li>
            Covid19 current status which dispalys what is the total confirmed cases and deaths confimed to WHO
        </li>
        <li>
            Videos relevant to Treatment and Symtoms of Covid19.
        </li>
        <li>
            Treatment module comprises what are the treatments or Vacines available with regard to Covid19.
        </li>
        <li>
            Notification includes notifications regarding Travel and Precautions etc.
        </li>
        <li>   Advice module displays the advices relevant to different aspects of Covid19.</li>
    </ol>
</p>
<p>
    Skills used to develop this application:-
    <ol type="ordered">
        <li>
            ASP.NET MVC Razor
        </li>
        <li>
            Entity Framework
        </li>
        <li>
            SQL Server
        </li>
        <li>
           Live data of Covid19 Current Status from WHO(World Health Organization) website.
        </li>
        
    </ol>
</p>