@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<p>
    I am a Software Developer with more than 9 years of Experience in .NET. During this tenure, i have worked on several technology. So due to personal reasons i was not able to do the job for 2 years.
    So i developed this project just to refresh or update my technical knowledge.
</p>
<p>
    @*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>*@

    <address>
        <strong>Name:</strong>  Raj Kumari<br />
        <strong>Support:</strong>   <a href="mailto:rajkkohli07@gmail.com">rajkkohli07@gmail.com</a><br />
        @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
